<div class="container-big-card">

  <div class="big-card-img">
    <img src="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
    alt=""
    height="200px">
  </div>

  <div class="big-card-date">
    <h1>May 03th, 2023</h1>
  </div>

  <div class="big-card-title">
    <h1><a href="#">Meu aprendizado em Angular</a></h1>
  </div>

  <div class="big-card-description">
    <p>
      Saiba mais sobre...
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

</div>
