.container-small-card {
  width: 600px;
  margin-bottom: 15px;
}

.container-small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card-date h1 {
  font-size: 20px;
  margin-top: 10px;
  color: gray;
}

.small-card-noticia {
  display: flex;
  flex-direction: column;
}

.small-card-img img {
  width: 140px;
  min-width: 140px;
  margin-right: 20px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small-card-separator {
  margin-top: 15px;

}
