<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<!-- `div class="container__articles">` is creating a container element with a class of "articles". This container
is used to group related content together, in this case, articles. The container has two child
elements, `div class="articles__main">` and `div class="articles__others">`, which are used to
organize the articles into a main article and other articles. -->
<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">

    <app-small-card></app-small-card>
    <app-small-card></app-small-card>

  </div>
</div>

<hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">

    <app-small-card></app-small-card>
    <app-small-card></app-small-card>

  </div>
</div>
